@import url('https://fonts.googleapis.com/css?family=Francois+One');

html, body {
	height:100%;
	width:100%;
	/* background-color: #daa232; */
}

#loader {
	border: 15px solid #f3f3f3;
	border-top: 15px solid #000000;
	border-bottom: 15px solid #000000;
	border-radius: 50%;
	width:100px;
	height:100px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg);}
	100% { transform: rotate(360deg);}
}

/* animation ends */

.container-fluid {
	background-color:#fff;
	width:90%;
	margin-top: 50px;
	margin-left:5%;
	margin-bottom:30px;
	box-shadow: 5px 20px 30px 20px #cccccc;
	/* box-shadow: 5px 20px 30px 20px #c68910; */
	display:none;
}

#firstBox {
	color: #da9100;
	font-family: 'Francois One';
	font-size: 40px;
	padding-left: 70px;
	padding-top:100px;
}

#secondBox {
	padding:0px;
}

.box {
	height:450px;
}

a {
	color:#ccc;
	font-size: 20px;
}

a:hover {
	color: #fff;
}
.page-footer {
	display:none;
	background-color: #1e8383;
}

.footer-copyright {
	background-color:#0a6666;
	color:#bbb;
}
