@import url('https://fonts.googleapis.com/css?family=Francois+One');

body {
	height:100%;
	background-color: #daa232;
}

.flex-wrapper {
	width:250%;
	height:500px;
	margin-top:100px;
	margin-left: 100px;
	box-shadow: 5px 20px 30px 20px #c68910;
	background-color:#fff;
	position: relative;
}

.flex-container {
	display:flex;
	flex-wrap:wrap;
	height:100%;
}

.box {
	height:100%;
}

/* .box:hover {
	box-shadow: 10px 10px 10px 10px #ddd;
} */

#firstBox {
	padding-left:70px;
	padding-top: 100px;
	width:25%;
	color:#da9100;
	font-family: 'Francois One';
	font-size: 40px;
}

a {
	color: #2c0a96;
}

#secondBox {
	width:10%;
	padding:0;
}

#thirdBox {
	width: 40%;
	/* background-color: #965353; */
}

.flex-box {
	display:flex;
	flex-wrap: nowrap;
}

.nested-box {
	width:25%;
}

#fourthBox {
	width: 10%;
	/* background-color:#325a5a; */
}

#fifthBox {
	width:15%;
	background-color:#000000;
}

/* @media screen and (max-width: 768px) {
	html {
		background-color:#000;
	}

	.box {
		flex-wrap: wrap;
	}
} */

form {
	padding:5px;
	margin:50px;
}

textarea {
	height:170px;
}

label {
	color: #999;
}

i {
	display: block;
	margin:5px;
	color: #999;
}
