@import url("https://fonts.googleapis.com/css?family=Arimo|Rajdhani&display=swap");
/* @import "~bootstrap/dist/css/bootstrap.min.css"; */
html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* media queries for scrollbar */
@media only screen and (max-width: 600px) {
  html {
    overflow: hidden;
  }
}

@media only screen and (min-width: 601px) {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #111;
  }
}

/* fonts */
@font-face {
  font-family: elianto;
  src: url(Elianto-Regular.otf);
}

#app {
  height: 100%;
}


/* nav styles */
.navbar {
  background: #000;
}

.navbar-toggler-icon {
  color: #ddd;
}


.nav-link {
  color: #ddd;
}

.nav-link:hover {
  color: #006064;
}

.headings,
.services {
  font-family: "Arimo";
}

.headings {
  font-size: 2rem;
  text-align:center;
  margin:2rem 0;
}

#contact-section {
  margin-bottom: 2%;
}

/* about styles */
.jumbotron {
  margin: 0;
}

.home-content {
  z-index: 2;
  font-family: "elianto";
  color: #fff;
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: #26a69a;
  /* opacity: 0.7; */
  z-index: 1;
  /* filter: alpha(opacity=80); */
}

.profile-img {
  padding:0;
  margin:0;
}

#about-section, #work-section {
  padding:2% 0 ;
}

.about-me-text {
  font-family: "Arimo";
}

.experience-text {
  color: #006064;
}

.social-network {
  padding:30px 0;
}

.social-network-icons {
  font-size:1.5rem;
  color: #26a69a;
  border:3px solid #26a69a;
  border-radius: 50%;
  margin-right:20px;
}

.social-network-resume {
  color: #26a69a;
  border:3px solid #26a69a;
  border-radius: 10%;
  font-size:1rem;
}

.social-network-icons:hover, .social-network-resume:hover {
  background:#006064;
  color:#fff;
  border-color:#fff;
  transition: 0.4s ease;
}

/* work page styles */

#work-section {
  background: #26a69a;
}

/* card styles */

.project-card {
  position: relative;
  width:28rem;
  height:20rem;
}

.project-card-img, .project-card-img img {
  width:100%;
  height:100%;
}

.project-card-link {
  font-family: "Arimo";
  position: absolute;
  z-index:1;
  bottom:0;
  left:0;
  background: #006064;
  width:100%;
  height:0%;
  opacity:0;
}

.project-card-link button {
  display:block;
}

.project-card-link button a {
  color: #fff;
  text-decoration: none;
}

.project-card-link button:hover {
  border:none;
  font-size:1.1rem;
}

.project-card:hover .project-card-link {
  transition: 0.4s ease;
  height:auto;
  opacity: 1;
}


/* contact page styles */

.list-group-item {
  background: none;
  font-family: "Arimo";
}

.list-group-item {
  color: #000;
}

.social {
  background: #26a69a;
}
/* footer
 styles */
footer {
  font-family: "Arimo";
  background: #000;
}
