@import url("https://fonts.googleapis.com/css?family=Arimo|Rajdhani&display=swap");
/* @import "~bootstrap/dist/css/bootstrap.min.css"; */
html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "elianto";
}

/* media queries for scrollbar */
@media only screen and (max-width: 600px) {
  html {
    overflow: hidden;
  }
}

@media only screen and (min-width: 601px) {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #42a5f5;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #90caf9;
  }
}

/* fonts */
@font-face {
  font-family: elianto;
  src: url(Elianto-Regular.otf);
}

#app {
  height: 100%;
}

/* nav styles */

.navbar-toggler-icon,
.fab,
.fas {
  color: #bbb;
}

.fab:hover,
.fas:hover {
  color: #42a5f5;
  font-size: 20px;
}

.nav-link {
  color: #ccc;
}

.headings {
  font-family: "Arimo";
}

/* about styles */
.jumbotron {
  background-image: url("https://storage.googleapis.com/gweb-cloudblog-publish/images/Cloud_Code_for_VS_Code.max-1700x1700.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.home-content {
  z-index: 2;
  font-family: "elianto";
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: #42a5f5;
  opacity: 0.7;
  z-index: 1;
  filter: alpha(opacity=80);
}

.profile-img {
  background: #eee;
}

.about-me-text,
.experience-text {
  font-family: "Rajdhani";
}

.experience-text {
  color: #d32f2f;
}

/* work page styles */

.card-text {
  font-family: "Arimo";
  font-size: 2.1vh;
}

/* card styles */

.card img {
  object-fit: cover;
}

.card {
  position: relative;
  width: 100%;
  font-family: "elianto";
}

.card img {
  transition: 0.3s ease;
}

.card:hover .ol {
  opacity: 0.92;
}

.ol {
  transition: 0.7s ease;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: #222;
  text-align: justify;
  font-size: 1em;
}

.ol,
.ol p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* contact page styles */
#contact-page {
  background: #111;
}

.list-group-item {
  background: none;
  font-family: "Arimo";
}

.list-group-item {
  color: #000;
}

.social {
  background: #2196f3;
}
/* footer styles */
footer {
  font-family: "Arimo";
}
